= provide(:title,"Editar perfil de usuario")
.row
	.col-md-4
	.col-md-4
		%h2.form-signin-heading Actualiza tu perfil
		=form_for @usuario, html:{class:"form-signin"} do |f|
			= render 'shared/error_messages'
			= f.text_field :nombre, 	class:"form-control", placeholder:"nombre"
			= f.text_field :email, 		class:"form-control", placeholder:"email"
			= f.password_field :password, class:"form-control", placeholder:"password"
			= f.password_field :password_confirmation, class:"form-control", placeholder:"password_confirmation"
			= f.submit "Guardar cambios", class:"btn btn-lg btn-primary btn-block"
		= gravatar_for @usuario
		= link_to "Cambiar", "http://gravatar.com/emails"
	.col-md-4	